[mcu]
serial: /dev/serial/by-id/usb-Silicon_Labs_CP2102_USB_to_UART_Bridge_Controller_0001-if00-port0
restart_method: command

[virtual_sdcard]
path: /home/vadim/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[printer]
kinematics: corexy
max_velocity: 300
max_accel: 3000
max_z_velocity: 5
max_z_accel: 100

[stepper_x]
step_pin: PE3
dir_pin: !PE2
enable_pin: PI8
microsteps: 32
rotation_distance: 40
endstop_pin: !PB13
position_endstop: 0
position_max: 250
homing_speed: 50

[stepper_y]
step_pin: PC14
dir_pin: PC13
enable_pin: PC15
microsteps: 32
rotation_distance: 40
endstop_pin: !PB11
position_endstop: 0
position_max: 250
homing_speed: 50

[stepper_z]
step_pin: PA0
dir_pin: !PB1
enable_pin: PA3
microsteps: 16
rotation_distance: 8
endstop_pin: !PB12
position_endstop: 0.0
position_max: 250

[fan]
pin: PC6